<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<style>
.card-circle { width:100px; height:120px; border-radius:15px; text-align:center; padding:15px 10px; margin:10px auto; box-shadow:0 2px 6px rgba(0,0,0,0.15); cursor:pointer; transition:transform 0.2s;}
.card-circle:hover { transform: scale(1.05);}
.card-circle i { font-size:2rem; color:rgb(0, 0, 0,0, 64); margin-bottom:10px; }
.card-title { font-size:0.85rem; font-weight:500; margin-bottom:0; }
.row { justify-content:center; }
</style>
</head>
<body>


<div th:replace="fragments/navbar :: navbar"></div>

<h1 class="text-center mt-3">Admin Dashboard</h1>

<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-auto">
      <a th:href="@{/admin/addProduct}" class="text-decoration-none">
        <div class="card card-circle">
          <i class="bi bi-plus-square"></i>
          <div class="card-body p-0"><h6 class="card-title">Add Product</h6></div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a th:href="@{/admin/addCategory}" class="text-decoration-none">
        <div class="card card-circle">
          <i class="bi bi-tags"></i>
          <div class="card-body p-0"><h6 class="card-title">Add Category</h6></div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a th:href="@{/admin/viewProducts}" class="text-decoration-none">
        <div class="card card-circle">
          <i class="bi bi-eye"></i>
          <div class="card-body p-0"><h6 class="card-title">View Product</h6></div>
        </div>
      </a>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-auto">
      <a th:href="@{/admin/orders}" class="text-decoration-none">
        <div class="card card-circle">
          <i class="bi bi-inboxes-fill"></i>
          <div class="card-body p-0"><h6 class="card-title">Orders</h6></div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a th:href="@{/admin/users}" class="text-decoration-none">
        <div class="card card-circle">
          <i class="bi bi-people-fill"></i>
          <div class="card-body p-0"><h6 class="card-title">User</h6></div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a th:href="@{/admin/addAdmin}" class="text-decoration-none">
        <div class="card card-circle">
          <i class="bi bi-person-circle"></i>
          <div class="card-body p-0"><h6 class="card-title">Add Admin</h6></div>
        </div>
      </a>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
