<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/product.css}">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/category.css}">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<style>
body {
	margin: 0;
	padding: 0;
	background-color: #f8f9fa;
}

.card {
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.05);
}

.card-img-top {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	height: 200px;
	object-fit: cover;
}

.card-title {
	text-align: center;
	font-weight: 500;
	margin-top: 10px;
}

.support-icon {
	font-size: 48px;
	color: #8a8a8a;
}

.product-card {
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.product-card:hover {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-3px);
}
</style>
</head>
<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>


	<div class="container-fluid py-4 "
     style="background-color:#E1f2f0; min-height: 480px;">
     
    <div class="container py-4">
        <div class="row align-items-center text-center text-md-start">

           
            <div class="col-md-6 mb-4 mb-md-0">
                <img src="images/guitar_transparent.png"
                     alt="Left Photo"
                     class="img-fluid mx-auto d-block"
                     style="max-height: 380px;">
            </div>

         
            <div class="col-md-6">
                <p class="text-secondary fs-6 fs-md-5">
                    Shop Now & Stay Connected
                </p>

                <h1 class="fw-bold fs-3 fs-md-1">
                    Shop Guitars, Shape Your Sound
                </h1>

                <a href="#product"
                   class="btn btn-outline-primary btn-lg mt-3">
                    Shop Now
                </a>
            </div>

        </div>
    </div>
</div>




	<div th:replace="fragments/showCategory :: showCategory"></div>
	<div th:replace="fragments/listItem ::listItem"></div>
	<div class="container my-4 py-5">
		<h3 id="product" class=" text-center text-secondary ">Most Popular
			Brands</h3>
		<div class="row justify-content-center g-3">

			<div class="col-auto">
				<div class="brand-box">
					<img src="/images/yamahaGuitar.jpg" alt="yamaha"> <span>Yamaha</span>
				</div>
			</div>

			<div class="col-auto">
				<div class="brand-box">
					<img src="/images/taylorGuitar.jpg" alt="taylor"> <span>Taylor</span>
				</div>
			</div>

			<div class="col-auto">
				<div class="brand-box">
					<img src="/images/squierGuitar.jpg" alt="Squier"> <span>Squier</span>
				</div>
			</div>

			<div class="col-auto">
				<div class="brand-box">
					<img src="/images/ibanezGuitar.jpg" alt="ibanez"> <span>Ibanez</span>
				</div>
			</div>

		</div>
	</div>


	<div class="container my-5" id="news">
		<div class="row align-items-center bg-white rounded-4 shadow-sm p-5">
			<div class="col-md-6 text-center">
				<img src="images/latestGuitar.jpg" class="img-fluid" alt="guitar">
			</div>

			<div class="col-md-6">
				<span class="badge bg-dark mb-3">Guitar Latest</span>

				<h1 class="fw-bold mt-2">Brand of the world</h1>

				<p class="text-muted">Masterpieces far closer</p>

				<p>Great sound and make fun more!</p>

				<a href="#" class="btn btn-dark rounded-pill px-4 mt-3"> Learn
					more </a>
			</div>

		</div>
	</div>

	<div class="container my-6 py-5 text-center" id="support">

		<h3 class="text-secondary mb-5">Customer Support</h3>

		<div class="row g-4">


			<div class="col-md-3">
				<i class="bi bi-headset support-icon"></i>
				<h5 class="fw-semibold mt-3">Customer Support</h5>
				<p class="text-muted small">Contact us via live-chat, email, and
					phone call</p>
			</div>


			<div class="col-md-3">
				<i class="bi bi-shield-check support-icon"></i>
				<h5 class="fw-semibold mt-3">Warranty</h5>
				<p class="text-muted small">Local warranty policy protection is
					provided</p>
			</div>


			<div class="col-md-3">
				<i class="bi bi-layers support-icon"></i>
				<h5 class="fw-semibold mt-3">User Guides</h5>
				<p class="text-muted small">Find and download your product user
					guide</p>
			</div>


			<div class="col-md-3">
				<i class="bi bi-chat-dots support-icon"></i>
				<h5 class="fw-semibold mt-3">FAQ</h5>
				<p class="text-muted small">Search for help about Our Product</p>
			</div>

		</div>
	</div>


	<div th:replace="~{fragments/footer :: footer}"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
